<div>
  <div class="flex flex-col items-center w-full">
    <div class="w-full max-w-[850px]">
      <div class="w-full border-t-4 border-orange-500 bg-gray-100">
        <template x-if="quizData.banner_image">
          <img
            :src="quizData.banner_image"
            :alt="quizData.title"
            class="w-full aspect-[2/1] object-cover h-24"
          />
        </template>
        <div class="px-6 py-5">
          <h1 class="text-2xl font-bold" x-text="quizData.title"></h1>

          <p
            class="mt-2 text-sm text-gray-600"
            x-text="quizData.description"
          ></p>

          <div class="mt-4 flex items-center gap-3 text-xs text-gray-500">
            <span>
              Created by
              <span
                class="font-medium text-gray-700"
                x-text="quizData.created_by.username"
              ></span>
            </span>

            <span>•</span>

            <span
              x-text="new Date(quizData.created_at).toLocaleDateString('en-GB', {
              day: 'numeric',
              month: 'short',
              year: 'numeric'
            })"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>