<div class="space-y-6">
  <!-- delete your account -->
  <div class="flex flex-row w-full">
    <div class="flex flex-col max-w-1/2 gap-1">
      <p class="text-md font-bold text-gray-800">Permanently delete your account</p>
      <p class="text-sm font-normal text-gray-600">
        This action will also remove all your data associated with us. If you
        want to just get rid of quiz data, try <a href="#" class="text-blue-500 underline active:opacity-[0.8]">deleting activity</a> instead. <a href="#" class="text-blue-500 underline active:opacity-[0.8]">Learn more</a>.
      </p>
    </div>
    <div class="w-1/2 flex flex-col justify-center items-end px-4">
        <button type="button" class="border-red-500 hover:bg-red-500 border-2 text-red-500 font-semibold hover:text-white px-4 py-2 rounded-full cursor-pointer active:opacity-[0.8]">Remove account</button>
    </div>
  </div>
  <div class="flex flex-row w-full">
    <div class="flex flex-col max-w-1/2 gap-1">
      <p class="text-md font-bold text-gray-800">Delete platform activity</p>
      <p class="text-sm font-normal text-gray-600">
        Proceed with this if you want all your quiz activity to be removed. This will only remove quizzes create by you, and won't purge the effects of already submitted responses. Your account will remain as is. <a href="#" class="text-blue-500 underline active:opacity-[0.8]">Learn more</a>.
      </p>
    </div>
    <div class="w-1/2 flex flex-col justify-center items-end px-4">
        <button type="button" class="border-red-500 hover:bg-red-500 border-2 text-red-500 font-semibold hover:text-white px-4 py-2 rounded-full cursor-pointer active:opacity-[0.8]">Delete all activity</button>
    </div>
  </div>
  <!-- delete your activity n stuff -->

</div>
