<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/base.js"></script>
    <script src="/static/js/protected/quiz-maker.js"></script>
    <script src="/static/js/protected/dashboard.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  </head>
  <body x-data="Base()">
    {% include "components/notification.html" %}
    <div class="z-50">{% block content %}{% endblock %}</div>
  </body>
</html>
